.feed-container {
  width: 100%;
}

.feed .title {
  height: 3em;
  background-color: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.feed .title .avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed .avatar-wrapper .avatar {
  background-image: url("http://cdn.newstheone.com/news/photo/202102/67599_68418_30.jpg");
  width: 2em;
  height: 2em;
  margin-right: 1vw;
}

.feed .photo {
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0;
}

.icons > div > .icon {
  margin: 5px;
}

.comments {
  width: 100%;
  margin: 0 10px;
  margin-bottom: 3em;
}

.comments .like-count {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.like-count .small-avatar {
  margin: 0 0.5em;
  background-image: url("http://cdn.newstheone.com/news/photo/202102/67599_68418_30.jpg");
  width: 1.6em;
  height: 1.6em;
}
