@media (min-width: 1000px) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: flex;
    max-width: 1024px;
  }

  #storys-wrapper {
    margin: 3% 0;
    border: 1px solid #d5d5d5;
  }

  #feed-container {
    margin: 0 0 3% 0;
  }

  #main-page {
    margin-top: 60px;
  }

  #menu-icons {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header-mobile {
    display: flex;
  }

  .header-desktop {
    display: none;
  }

  #storys-wrapper {
    margin: 0;
  }

  #feed-container {
    margin: 0;
  }

  #main-page {
    margin-top: 50px;
  }

  #sub-page {
    display: none;
  }

  #menu-icons {
    display: flex;
  }
}
