#page-container {
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#main-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sub-page {
  margin-top: calc(2% + 60px);
  width: 40%;
  height: 300px;
  margin-left: 3%;
  padding: 1%;
}
