#sub-page #sub-page-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sub-page #content-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
